/*body {
    font-family: sans-serif;
}*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: linear-gradient(to bottom,#d4a198, #B3756A);
    background-repeat: no-repeat;

}

main {
    position: relative;
    bottom: 35px;
}

h1 {
    font-family: 'Paytone One';
    font-weight: 100;
}

h2 {
    font-family: 'Montserrat';
    position: relative;
    bottom: 25px;
}

h1, h2 {
    color: white;
    text-align: center;
}

nav a {
    color: white;
    font-size: 14px;
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 500;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 27px;
    padding-right: 27px;
    background-color: #8BA290;
    border-radius: 15px;
    transition: background-color 0.5s linear;
}

nav {
    display: flex;
    gap: 15px;
    justify-content: center;
    position: relative;
    bottom: 35px;
}

nav a:hover {
    background-color: #B2C0B5;
}

.text1 {
    padding-left: 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #FFFFFF;
    font-size: 17px;
    margin-bottom: 35px;
}

.fontStyle {
    font-size: 20px;
    font-weight: 600;
    position: relative;
	margin: 0;
}

td {
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    color: #36281f;
    background-color: #efead8;
}


table {
    border-spacing: 8px;
    position: relative;
    bottom: 35px;
	width: 90%;
	margin: 0 auto;
}


img {
    width: 35px;
	position: relative;
	top: 3px;
	object-fit: cover;
	overflow: hidden
}

.containerLeaf{
  display: flex;
  align-items: center;
  gap: 1px;
  margin: 0px;
}

.containerLeaf img {
    /* width: 150px; */
    height: auto;
}

.containerQuestions{
  display: flex;
  align-items: center;
  gap: 1px;
}

.containerQuestions img {
    /* width: 150px; */
    height: auto;
}

.containerRestriction{
  display: flex;
  align-items: center;
  gap: 1px;
}

.containerRestriction img {
    width: 28px;
    height: auto;
}

li {
	margin-left:  60px;
	padding: 15px;
    /*margin-bottom: 15px;*/
}

/* ul, li {
	margin: 15px;
} */
@media (max-width: 800px) {
td:nth-of-type(3) {
    display: none;
}

td {
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    color: #36281f;
    background-color: #efead8;
}
}

.footer {
    padding: 15px;
    width: 500px;
    background-color: #daada5;
    margin: 50px;
    border-radius: 20px;

}

footer p{
    padding-left: 10px;
    font-family: 'Montserrat';
    color: #FFFFFF;
    font-size: 17px;
    margin-bottom: 35px;
}
